.api-module{
  display: flex;
  height: 100%;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.api-container{
  flex: 1;
  .api-content{
    background: #ffffff;
  }
  .api-breadcrumb{
    padding: 10px 5px;
  }
}
.api-menu{
  width: 240px;
  padding-right: 10px;
  background: #e9e9e9;
  ul{
    min-height: 100%;
  }
}